<header>
    <a href="/" class="link-home">
        <svg xmlns="http://www.w3.org/2000/svg" width="357" height="42" viewBox="0 0 357 42" class="header-logo--svg">
            <title>Home</title>
            <g clip-path="url(#clip0_2_5)">
                <path d="M284.508 23.394V0.587996H291.417V25.767C291.417 27.342 291.417 28.98 291.858 30.555C292.236 31.857 292.992 33.201 294.189 33.957C295.701 35.028 297.633 35.259 299.397 35.217C301.287 35.217 303.345 34.839 304.794 33.516C306.096 32.319 306.684 30.555 306.852 28.875C306.978 27.3 306.978 25.746 306.978 24.171V0.587996H313.824V24.318C313.824 26.838 313.95 29.4 313.446 31.857C312.942 34.503 311.682 37.128 309.603 38.892C307.146 41.034 303.828 41.706 300.678 41.979H297.675C295.155 41.79 292.593 41.349 290.388 40.047C287.868 38.661 286.125 36.162 285.369 33.453C284.256 30.24 284.508 26.775 284.508 23.394ZM254.688 0.587996H278.502V7.119H261.66V16.842H277.872V23.373H261.66V34.692H278.481V41.223H254.667V0.587996H254.688ZM187.551 0.587996H194.46V26.901C194.46 28.959 194.712 31.164 196.035 32.865C197.169 34.377 199.038 35.007 200.865 35.196C204.351 35.511 208.215 34.734 209.328 30.996C210.021 29.064 209.895 26.922 209.895 24.906V0.587996H216.804V26.334C216.804 28.35 216.741 30.408 216.3 32.361C215.019 38.745 209.79 41.79 203.616 42.042H200.55C194.565 41.769 189.525 39.06 188.055 32.949C187.236 29.988 187.425 26.922 187.425 23.856L187.551 0.587996ZM145.152 0.587996H153.006L162.687 18.375L172.368 0.587996H180.18V41.286H173.334V15.162C173.334 13.545 173.523 11.844 173.712 10.206C172.893 12.348 165.354 25.977 165.354 25.977H159.957L151.536 10.164C151.851 12.18 151.977 14.196 151.977 16.191V41.244H145.194L145.152 0.587996ZM70.98 0.587996H77.889V17.304L90.636 0.965996C90.762 0.776996 90.888 0.524996 91.203 0.587996H99.624C99.561 0.776996 99.498 0.965996 99.372 1.092L84.063 20.118L99.96 40.719C100.086 40.908 100.149 41.034 100.212 41.286H91.539L77.91 23.142V41.286H71.001L70.98 0.587996ZM54.768 0.587996H61.677C61.53 4.704 61.992 27.636 61.425 31.248C60.984 34.209 59.598 37.023 57.267 38.913C54.894 40.992 51.639 41.811 48.489 42H45.591C42.021 41.811 38.43 40.866 35.301 39.102V32.004C35.301 32.004 35.868 32.193 36.183 32.319C40.656 34.692 48.93 37.023 53.067 33.075C54.327 31.773 54.831 29.862 54.831 28.119L54.768 0.587996ZM35.301 0.587996H42.21V25.893H35.364C35.385 25.893 35.301 0.587996 35.301 0.587996ZM7.05597 7.056V19.803H12.201C14.217 19.677 16.401 19.425 18.039 18.102C19.425 17.031 19.929 15.204 19.929 13.524C20.097 6.069 12.222 7.119 7.05597 7.056ZM0.146973 0.587996C8.14797 1.176 21.357 -1.995 25.767 6.93C28.14 12.537 27.594 20.706 21.735 23.94L28.959 41.349H21.483L15.456 25.956C12.684 26.397 9.86997 26.145 7.09797 26.208V41.349H0.146973V0.587996ZM235.914 -0.105004C239.673 -0.210004 243.705 0.272996 246.96 2.268V9.366C242.403 6.846 235.767 4.935 231.189 8.295C229.299 9.996 229.299 13.44 231.378 15.015C233.205 16.464 235.536 17.031 237.657 17.829C240.618 18.837 243.621 19.971 245.7 22.344C249.585 26.964 248.682 34.734 244.125 38.556C238.119 43.323 228.984 42.945 222.516 39.249V32.151C227.388 34.839 234.192 37.086 239.211 33.663C241.101 32.151 241.542 29.022 239.967 27.132C236.439 23.772 230.874 23.856 226.968 20.979C222.558 18.186 221.697 12.117 223.398 7.476C225.246 2.478 230.916 0.146996 235.914 -0.105004ZM116.13 -0.105004H118.818C121.716 0.146996 124.656 0.776997 127.176 2.268V9.303C123.627 7.287 119.511 6.027 115.374 6.615C113.862 6.804 112.371 7.308 111.3 8.379C110.103 9.576 109.788 11.466 110.292 13.02C110.733 14.406 111.993 15.351 113.253 15.918C116.823 17.619 120.855 18.249 124.131 20.559C129.087 23.793 129.57 31.29 126.588 36.015C124.089 39.963 119.448 41.559 115.038 41.916H112.35C109.032 41.664 105.693 40.908 102.816 39.144V32.046C103.761 32.487 104.643 33.054 105.588 33.432C109.578 35.196 116.256 36.519 119.784 33.306C121.233 32.004 121.611 29.736 120.855 27.972C120.288 26.67 118.965 25.83 117.726 25.284C113.358 23.31 108.045 22.68 104.937 18.69C101.64 14.385 102.27 7.224 106.239 3.549C108.927 1.218 112.623 0.146996 116.13 -0.105004ZM321.111 0.650996H328.965L338.646 18.438L348.327 0.650996H356.181V41.349H349.335V15.225C349.335 13.608 349.524 11.907 349.713 10.269C348.894 12.411 341.355 26.04 341.355 26.04H335.958L327.537 10.227C327.852 12.243 327.978 14.259 327.978 16.254V41.307H321.195L321.111 0.650996Z"/>
            </g>
            <defs>
                <clipPath id="clip0_2_5">
                    <rect width="357" height="42"/>
                </clipPath>
            </defs>
        </svg>
    </a>
    <a href="#menu" class="hamburger-close desktop-hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="20" viewBox="0 0 28 20" fill="none">
            <path d="M2 4H26C27.104 4 28 3.104 28 2C28 0.896 27.104 0 26 0H2C0.896 0 0 0.896 0 2C0 3.104 0.896 4 2 4ZM26 8H2C0.896 8 0 8.896 0 10C0 11.104 0.896 12 2 12H26C27.104 12 28 11.104 28 10C28 8.896 27.104 8 26 8ZM26 16H2C0.896 16 0 16.896 0 18C0 19.104 0.896 20 2 20H26C27.104 20 28 19.104 28 18C28 16.896 27.104 16 26 16Z" fill="#56423D"/>
        </svg>Menu
    </a>
    <nav id="menu" class="menu-primary">
        <a href="#" class="hamburger-open">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M20.3331 0.33313C20.715 0.33313 21.0326 0.45985 21.2861 0.71329C21.5395 0.96673 21.6662 1.28438 21.6662 1.66625C21.6662 2.04129 21.5378 2.35724 21.2809 2.61409L12.8848 10.9994L21.2809 19.3846C21.5378 19.6415 21.6662 19.9574 21.6662 20.3325C21.6662 20.7144 21.5395 21.032 21.2861 21.2854C21.0326 21.5389 20.715 21.6656 20.3331 21.6656C19.9581 21.6656 19.6421 21.5372 19.3853 21.2803L11 12.8842L2.6147 21.2803C2.35785 21.5372 2.0419 21.6656 1.66686 21.6656C1.28499 21.6656 0.967341 21.5389 0.713901 21.2854C0.460461 21.032 0.33374 20.7144 0.33374 20.3325C0.33374 19.9574 0.462167 19.6415 0.71902 19.3846L9.11518 10.9994L0.71902 2.61409C0.462167 2.35724 0.33374 2.04129 0.33374 1.66625C0.33374 1.28438 0.460461 0.96673 0.713901 0.71329C0.967341 0.45985 1.28499 0.33313 1.66686 0.33313C2.0419 0.33313 2.35785 0.461557 2.6147 0.71841L11 9.11457L19.3853 0.71841C19.6421 0.461557 19.9581 0.33313 20.3331 0.33313Z" fill="#FCF8F7"/>
            </svg>Sluit
        </a>
        <ul>

            <li>
                <a 
                    {% if upload == "current" %}
                        class="active"
                    {% endif %}
                    href="/upload">Upload your own!

                </a>
            </li>
            <li>
                <a 
                    {% if view == "current" %}
                        class="active"
                    {% endif %}
                    href="/custom-gallery">Custom Library
                </a>
            </li>
        </ul>
    </nav>

</header>
