@import url("./global.css"); /* general styles */
@import url("./header.css"); /* general styles */
@import url("./artpieces.css"); /* general styles */
/*
frame
max-height: 100vh; width: 100vw; aspect-ratio: 1220/840;


img
width: 60vw; left: 50%; position: absolute; top: 6.8vw; aspect-ratio: 550 / 365; z-index: -1; translate: -50% 0; */

